//sass for index.html etc

//variables
$primary-background-color: #DCF0FF;
$secondary-background-color: #D0C8E8;
$alt1-background-color: #EEDCFF;
$primary-font: 'Indie Flower', cursive;
$secondary-font: 'Josefin Sans', sans-serif;
$wrpr-width: 97%;
$wrpr-max-width: 1920px;
//grid variables
$col-1-width: 30%;
$col-2-width: 60%;
$col-3-width: 96.66669%;

//media query variables begin
/* hi-res desktops up to and including 1920px width */
$media-screen-hires-desk-min: 1600px;
/* average desktops between tablet size and hi-res */
$media-screen-avg-min-width: 1024px;
$media-screen-avg-max-width: 1599px;
/* IOS devices in porttrait */
$media-screen-ios-min-width: 980px;
$media-screen-ios-max-width: 1023px;
/* lower-res tablets and phones */
$media-screen-lowres-min-width: 768px;
$media-screen-lowres-max-width: 979px;
/* smartphone */
$media-screen-smrtphn-min-width: 480px;
$media-screen-smrtphn-max-width: 767px;
//media query variables end

//mixins
@mixin prm-headings {
	font-family: $primary-font;
//	font-weight: 600italic;
	background-color: $primary-background-color;
}
@mixin mq-heading {
	width: 97%;
	height: 50%;
}
@mixin mq-heading-h1 {
	padding: 0.5em;
	margin: 0;
}

@-ms-viewport{
  width: device-width;
}
/* Declare Border Box */
html {
	box-sizing: border-box;
}
/* this selector inherits to all elements in all pages */
*,
*:before,
*:after {
	box-sizing: inherit;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
header, h1, h2, h3, h4  {
	@include prm-headings;
}
header h1 a {
	text-decoration: none;
}
body {
	font-family: $secondary-font;
	font-weight: 600italic;
	background-color: $alt1-background-color;
}
a {
	color: white;
}
.wrapper {
	width: $wrpr-width;
	max-width: $wrpr-max-width;
	margin: 0 auto;
	float: none;
	background-color: $secondary-background-color;
}
nav {
	font-family: $secondary-font;
	background-color: #EEDCFF;
}
nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}
nav ul a {
	font-weight: bold;
	padding: 1em;
	float: left;
}
nav ul a:hover, h1 a:hover {
	color: $secondary-background-color;
}
div.col-1 img {
	width: 100%;
}

/* grid settings */
.row::after {
    content:"";
    display: table;
    clear:both;
} 
[class*='col-'] {
	margin-left: 3.333333%;
	float: left;
	min-height: 1px;
}
.col-1 {
	width: $col-1-width;
}
.col-2 {
	width: $col-2-width;
}
.col-3 {
	width: $col-3-width;
}


/* Media Queries */
/* hi-res desktops up to and including 1920px width */
@media only screen and (min-width: $media-screen-hires-desk-min) {
	header, h1, h2 {
		font-size: 2.25em;
	}
	li {
		font-size: 1.5em;
	}
	p {
		font-size: 2em;
	}
	header {
		@include mq-heading;
	}
	header h1 {
		@include mq-heading-h1;
		background: url(../img/Appian_Way_Pan_large.jpg) no-repeat;
	}
}

/* average desktops between tablet size and hi-res */
@media only screen and (min-width: $media-screen-avg-min-width) and (max-width: $media-screen-avg-max-width){
	header, h1, h2, li {
		font-size: 1.75em;
	}
	p {
		font-size: 1.5em;
	}
	header {
		@include mq-heading;
	}
	header h1 {
		@include mq-heading-h1;
		background: url(../img/Appian_Way_Pan_med.jpg) no-repeat;
	}
}

/* IOS devices in porttrait */
@media only screen and (min-width: $media-screen-ios-min-width) and (max-width: $media-screen-ios-max-width){
	header, h1, h2, li {
		font-size: 1.5em;
	}
	p {
		font-size: 1.25em;
	}
	header {
		@include mq-heading;
	}
	header h1 {
		@include mq-heading-h1;
		background: url(../img/Appian_Way_Pan_small.jpg) no-repeat;
	}
}

/* lower-res tablets and phones */
@media only screen and (min-width: $media-screen-lowres-min-width) and (max-width: $media-screen-lowres-max-width){
	header, h1, h2, li {
		font-size: 1.25em;
	}
	p {
		font-size: 1em;
	}
	header {
		@include mq-heading;
	}
	header h1 {
		@include mq-heading-h1;
		background: url(../img/Appian_Way_Pan_small.jpg) no-repeat;
	}
}

/* smartphone */
@media only screen and (min-width: $media-screen-smrtphn-min-width) and (max-width: $media-screen-smrtphn-max-width){
	header, h1, h2, li {
		font-size: 1em;
	}
	p {
		font-size: .75em;
	}
	header {
		@include mq-heading;
	}
	header h1 {
		@include mq-heading-h1;
		background: url(../img/Appian_Way_Pan_small.jpg) no-repeat;
	}
}