//variables
$primary-background-color: #DCF0FF;
//sass function transparentize
$secondary-background-color: transparentize($primary-background-color, 0.9);
//sass function transparentize
$alt1-background-color: opacify($secondary-background-color, 0.3);
$primary-font: 'Indie Flower', cursive;
$secondary-font: 'Josefin Sans', sans-serif;
$wrpr-width: 97%;
$wrpr-max-width: 1920px;
//grid variables
$col-1-width: 30%;
$col-2-width: 60%;
$col-3-width: 96.66669%;

//media query variables begin
/* hi-res desktops up to and including 1920px width */
$media-screen-hires-desk-min-width: 1600px;
/* average desktops between tablet size and hi-res */
$media-screen-avg-min-width: 1024px;
$media-screen-avg-max-width: 1599px;
/* IOS devices in porttrait */
$media-screen-ios-min-width: 980px;
$media-screen-ios-max-width: 1023px;
/* lower-res tablets and phones */
$media-screen-lowres-min-width: 768px;
$media-screen-lowres-max-width: 979px;
/* smartphone */
$media-screen-smrtphn-min-width: 480px;
$media-screen-smrtphn-max-width: 767px;
//media query variables end
